---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="About Me">
  <meta property="og:type" content="website">

  {% include common-css.html%}

  <link rel="stylesheet" href="/assets/css/about.css">

</head>
<body>
  {% include header.html page="about" %}
  <main>
    <h1>My Background</h1>
    <p></p>
  </main>
</body>
</html>