---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="About Me">
  <meta property="og:type" content="website">

  {% include common-css.html%}

  <link rel="stylesheet" href="/assets/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
  {% include header.html page="about" %}
  <main>
    <article>
      <div class="img-container">
        <img src="/assets/img/me.jpg" alt="me" class="me">
      </div>
      <p>I'm a self-taught developer who loves learning and using my knowledge to create smart code. I fully believe that you don't know if you don't try, and put this into practice not 
        only with food, but also with learning new skills. This approach has guided me through multiple <a href="/en/projects/">Projects</a> touching on AI, web design, and game development.
      </p>
      <p>
        Outside of developing, I love listening to and playing Irish folk music, as well as geeking out about space travel. I'm also an avid skiier, snowboarder, and sailor.
      </p>
      <p>
        You can reach me at <a href="mailto:felix@felixleitner.com">felix@felixleitner.com</a> or on <a href="https://discordapp.com/users/402954494406819862/" target="_blank" rel="noopener noreferrer">Discord</a>. 
        Alternatively, check me out on <a href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.
      </p>
    </article>
  </main>
</body>
</html>