---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="About Me">
  <meta property="og:type" content="website">

  {% include common-css.html%}

  <link rel="stylesheet" href="/assets/css/about.css">

</head>
<body>
  {% include header.html page="about" %}
  <main>
    <h1>Hi, I'm Felix!</h1>
    <p class="bio">I'm a senior at Classical High School in Providence, RI, as well as a programmer, folk violinist, and skiier/boarder in my free time.</p>
    <h2>My Approach</h2>
    <p>I'm always willing to explore new concepts, be they in AI, web design, </p>
  </main>
</body>
</html>