---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Felix Leitner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="canonical" href="https://felixleitner.com">

  <meta property="og:title" content="Felix Leitner">
  <meta property="og:type" content="website">

  {% include common-css.html %}
  <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
  {% include header.html %}
  <main>
    <div class="intro">
      <h1>Hi, I'm Felix!</h1>
      <p>I am a curious high school student interested in challenging myself and developing new skills in any topic I can think of. </p>
    </div>
  </main>
</body>
</html>