---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://felixleitner.com">

    <!-- Open Graph -->
    <meta property="og:title" content="Felix Leitner">
    <meta property="og:type" content="website">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/work.css">

    <!-- Fonts -->
    {% include fonts.html %}
</head>
<body>
    <main>
        {% include top.html %}
        <p><span class="bold">404</span> - Page not found</p>
        <style> p {text-align: center;} </style>
    </main>
</body>
</html>