---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Felix Leitner - Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://felixleitner.com">

    <!-- Open Graph -->
    <meta property="og:title" content="Felix Leitner">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/img/fire.gif">
    <meta property="theme-color" content="#FBB443">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/work.css">

    <!-- Fonts -->
    {% include fonts.html %}
</head>
<body>
    <main>
        {% include top.html page="work" %}
        <div class="showcase">
            {% for project in site.projects %}
                {% if project.unlisted %} {% continue %} {% endif %}
                {% include card.html link=project.url icon=project.icon title=project.title%}
            {% endfor %}
        </div>
        {% include contacts.html %}
    </main>
</body>
</html>