---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Felix Leitner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://felixleitner.com">

    <!-- Open Graph -->
    <meta property="og:title" content="Felix Leitner">
    <meta property="og:type" content="website">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/toolbox.css">
    <link rel="stylesheet" href="/assets/css/project-card.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/iug0lkg.css">
</head>
<body>
    <main>
        <div class="toolbox">
            <div class="navbar">
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
            </div>
            {% include lang-switch.html %}
        </div>
        <section id="intro">
            <h1>Hello, Ich bin Felix!</h1>
            <p>Ich bin ein wissbegieriger Gymnasiast der gerne programmiert, Musik spielt und neue Dinge lernt.</p>
        </section>

        <section id="projects">
            <h1>Projekte</h1>
            <div class="showcase">
                {% include project-card.html link="/en/project/tictac10" icon="tictac10.png" title="TicTac10" desc="An adversarial AI I wrote to play tic-tac-toe at any board size." %}
                {% include project-card.html link="/en/project/orbita" icon="orbita.png" title="Orbita" desc="A simple orbital simulation I created when starting off with Pygame." %}
                {% include project-card.html link="/en/project/singularity-solutions" icon="singularity.png" title="Singularity Solutions" desc="A one-page showcase website I created for an in-school English project." %}
                {% include project-card.html link="/en/project/arpeggio" icon="arpeggio.png" title="Arpeggio" desc="A Discord music player bot I created for my friends." %}
                {% include project-card.html link="/en/project/tictac10" icon="tictac10.png" title="Placeholder" desc="This is a placeholder." %}
                {% include project-card.html link="/en/project/tictac10" icon="tictac10.png" title="Placeholder" desc="This is a placeholder." %}
            </div>
            <a href="/de/projects" class="more">Mehr</a>
        </section>

        <section id="about">
            <h1>Über Mich</h1>
            <div class="content">
                <div class="article">
                    <img src="/assets/img/me.jpg" alt="">
                    <p>Ich bin ein Entwickler, der es liebt zu lernen und mein Wissen einzusetzen, um intelligenten Code zu erstellen.
                        Mein projektbasierter Ansatz hat mich in mehrere Themen eingeführt, darunter AI, Webentwicklung und Spieleentwicklung.
                        Ich arbeite derzeit daran, diese Liste und meine Sammlung von Projekten zu erweitern, und sie so abwechslungsreich und interessant wie möglich zu halten!
                    </p>
                    <p>
                        Außerhalb der Entwicklung höre und spiele ich gerne irische Volksmusik und interessiere mich für Raumfahrt.
                        Ich bin auch ein begeisterter Skifahrer, Snowboarder und Segler.
                    </p>
                </div>
                <div class="contacts">
                    <a href="/resume.pdf" target="_blank">Mein Lebenslauf</a>
                    <a href="mailto:felix@felixleitner.com">Email mir</a>
                    <a href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/" target="_blank" rel="noopener noreferrer">Mein LinkedIn</a>
                    <a href="https://discordapp.com/users/402954494406819862/" target="_blank" rel="noopener noreferrer">Schreibe mir auf Discord</a>
                    <a href="https://www.github.com/lixitrixi" target="_blank" rel="noopener noreferrer">Mein GitHub</a>
                </div>
            </div>
        </section>
    </main>

</body>
</html>