---
---
<!DOCTYPE html>
<html lang="de">
<head>
  <title>Meine Projekte</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:title" content="Meine Projekte">
  <meta property="og:type" content="website">

  {% include common-css.html %}

  <link rel="stylesheet" href="/assets/css/projects.css">

</head>
<body>
  {% include header.html page="projects" %}
  <main>
    <div class="projects">
      {% for project in site.projects-de reversed %}
        {% if project.unlisted %} {% continue %} {% endif %}
        {% include project-card.html link=project.url image=project.image title=project.title desc=project.desc %}
      {% endfor %}
    </div>
  </main>
</body>
</html>