section
  h1 Hi, I'm Felix!
  p I’m a developer studying at the #[a(href="https://www.st-andrews.ac.uk/" target="_blank") University of St Andrews] in Scotland. I’m interested in AI and its ethical application, networking technology, and full-stack design/development.
  p Alongside my studies I do web development for #[a(href="https://www.loft.design/" target="_blank") Loft Design] and have interned at #[a(href="https://www.trackx.tech/" target="_blank") TrackX Technology], a medical software company. I’m currently taking part in a research project involving constraint programming.

.flx.je
  img(src="assets/img/running_blob.png", alt="A fluffy running character with a single eye." style="height: 4rem")

section#skills
  h1 My Skills
  .mt.grid.gap.dyn
    | {% assign skills = site.skills | sort: "order" %}
    | {% for skill in skills %}
    | {% if skill.unlisted == true %} {% continue %} {% endif %}
    .btn.pad.ovf.expander
      .flx
        h2 {{ skill.name }}
        h2.mla.textgrey ⏷
      .ml.mt
        | {{ skill.content }}
    | {% endfor %}

img(src="assets/img/painting_blob.png", alt="A blob with horns painting a line across the page." style="height: 5rem")

section#projects
  h1 My Projects
  p Here are some of the personal projects I’ve completed during my journey as a developer!
  #projects-list.flx.col.gap
    | {% assign projects = site.projects | sort: "order" %}
    | {% for project in projects %}
    | {% if project.unlisted == true %} {% continue %} {% endif %}
    a(href="{{ project.url }}").btn.pad
      h2 {{ project.title }}
      | {{ project.tools | split: ', ' | join: ' | ' }}
    | {% endfor %}
  .flx.gap.ac.jc.mt
    .ptr.nosel(onClick="projectsPrev()") ←
    div #[span#cur-page 1] / #[span#total-pages 1]
    .ptr.nosel(onClick="projectsNext()") →

section#contact
  h1 Contact Me
  p I’d love to hear from you! If you have a project in mind or just want to say hello, feel free to reach out to me over #[a(href="mailto:felix@felixleitner.com" target="_blank") email]. You can also check out my #[a(href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/" target="_blank") LinkedIn] or my #[a(href="https://github.com/lixitrixi" target="_blank") GitHub]!

script(src="/assets/js/index.js")
