---
layout: default
title: Felix Leitner
---
section
  h1 Hi, I'm Felix!
  p I’m a software developer studying at the #[a(href="https://www.st-andrews.ac.uk/") University of St Andrews] in Scotland. I’m interested in many different areas of CS, especially deterministic AI, networking technology, and full-stack web design/development.
  p Alongside my studies I do part-time web development for #[a(href="https://www.loft.design/") Loft Design]. This summer I interned at #[a(href="https://www.savant.com") GE Lighting/Savant Systems] developing tools for the #[a(href="https://www.savant.com/lighting") lighting division]. Last summer I interned at #[a(href="https://www.trackx.tech/") TrackX Technology], a medical device startup, developing an in-field software installation tool.
  p I enjoy maintaining and contributing to open-source projects, both in my free time and as part of my degree:
  ul.padx
    li I have contributed to the #[a(href="https://github.com/conjure-cp") Conjure] constraint programming project and am now mentoring incoming members. Past projects have included a rewrite of the main application using Rust, as well as a JavaScript client-side API to interact with solver AaS backends.
    li I maintain the #[a(href="https://github.com/lixitrixi/planning") Planning] Rust library for generic minimal action planning.

.flx.je
  img.hv-chsrc(src="assets/img/running_blob.png", hover-src="assets/img/running_blob.png", alt="A fluffy running character with a single eye." style="height: 4rem")

section#skills
  h1 My Skills
  .mt.grid.gap.dyn
    | {% assign skills = site.skills | where_exp: "skill", "skill.unlisted != true" | sort: "order", "last" %}
    | {% for skill in skills %}
    .btn.pad.ovf.expander.focusable
      .flx.ac
        .expander-icon.mr
        h2.text-cutoff {{ skill.name }}
      .ml.mt
        | {{ skill.content }}
    | {% endfor %}

img(src="assets/img/painting_blob.png", alt="A round floating character with horns painting a line across the page." style="height: 5rem")

section#projects
  h1 My Projects
  p Here are some of the projects I’ve completed during my journey as a developer!
  #projects-list.flx.col.gap.keep-height
    | {% assign projects = site.projects | where_exp: "project", "project.unlisted != true" | sort: "order", "last" %}
    | {% for project in projects %}
    | {% include project_card project=project %}
    | {% endfor %}
  .flx.gap.ac.jc.mt
    .ptr.nosel.focusable(onClick="projectsPrev()") ←
    div #[span#cur-page 1] / #[span#total-pages 1]
    .ptr.nosel.focusable(onClick="projectsNext()") →

section#contact
  h1 Contact Me
  p I’d love to hear from you! If you have a project in mind or just want to say hello, feel free to reach out at felix@[this domain]. You can also check out my #[a(href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/") LinkedIn] or my #[a(href="https://github.com/lixitrixi") GitHub]!
