<header class="top">

    {% assign lang = page.url | slice: 1,2 %}

    <a href="/{{lang}}/" class="logo">Felix Leitner</a>

    <!-- Set url of sister page -->
    {% if lang == "en" %}
    {% assign sister_url = page.url | replace_first: "en", "de" %}
    {% else %}
    {% assign sister_url = page.url | replace_first: "de", "en" %}
    {% endif %}

    <a href={{ sister_url | replace: ".html", "" }} class="lang_switch">
        <p>en/de</p>
    </a>

    <!-- Set nav selectors based on page language -->
    <div class="nav">
        <a href="/{{ lang }}/about" class="link">
        <span class="trigger">
            {% if lang == "en" %} about me {% else %} über mich {% endif %}
        </span>
        </a>
        <a href="/{{ lang }}/projects" class="link">
        <span class="trigger">
            {% if lang == "en" %}
            projects
            {% else %}
            projekte
            {% endif %}
        </span>
        </a>
        <a href="/{{ lang }}/contact" class="link">
        <span class="trigger">
            {% if lang == "en" %}
            contact
            {% else %}
            kontaktieren
            {% endif %}
        </span>
        </a>
    </div>

    <div class="contacts">
        <a href="https://discordapp.com/users/402954494406819862/" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/discord.svg" alt="discord"></a>
        <a href="https://www.linkedin.com/in/felix-leitner-mittersinker-271b09200/" target="_blank" rel="noopener noreferrer"><img src="/assets/icons/linkedin.png" alt="linkedin"></a>
        <a href="mailto:felix@felixleitner.com"><img src="/assets/icons/mail.png" alt="mail"></a>
    </div>

</header>