header
  .cont.banner.padx.flx.ac
    a.mr(href="/")
      img(src="/assets/img/logo.png" style="max-height: 2.5rem")
    nav.flx.gap.mla
      a(href="/#skills") Skills
      a(href="/#projects") Projects
      a(href="/#contact") Contact
      | |
      a(href="/resume.pdf") Résumé
