---
---
.contacts {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 250px;
    margin: 0 auto 60px auto;
    &:hover {
        a svg path {
            fill: var(--dark);
        }
    }
    a {
        width: 24px;
        height: 24px;
        svg path {
            fill: var(--hl);
            transition: fill 0.1s ease;
        }
        &:hover,
        &:focus {
            svg path {
                fill: var(--hl);
            }
        }
    }
}