---
---
:root {
    --bg-color: #131313;
    --overlay-color: #262626;
    --text-color: #fff;
    scroll-behavior: smooth;
}

html {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

body {
    margin: 0;
}

main {
    min-height: 120vh;
    width: calc(100vw-140px);
    max-width: 1100px;
    margin: 0 auto 50px auto;
    padding: 0 70px;
}

p {
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 20px 0;
}

h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-size: 60px;

    color: var(--text-color);
    margin: 0 0 30px 0;
}

section {
    text-align: center;
    margin-top: 90px;
}

#intro {
    h1 {
        font-size: 80px;
    }
    p {
        font-size: 26px;
        margin: 0;
    }
}

#projects {
    padding-bottom: 50px;
    .showcase {
        display: grid;
        grid-gap: 10px;
        aspect-ratio: 2;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @media only screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            aspect-ratio: 0.5;
            grid-gap: 15px;
        }
    }
    .more {
        background-color: var(--overlay-color);
        display: block;
        width: 70px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 30px;
        line-height: 38px;
        border-radius: 500px;
        color: var(--text-color);
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        transition: background-color 0.2s;
        &:hover {
            background-color: #333;
        }
    }
}

#about {
    .article {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        p {
            text-align: left;
            text-justify: inter-word;
        }
        img {
            width: 50%;
            max-width: 200px;
            float: right;
            margin: 0 0 10px 20px;
            filter: grayscale(1);
            border-radius: 10px;
        }
    }
}

#contact {
    .contacts {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(5, 60px);
        grid-gap: 20px;
        a {
            width: 100%;
            height: 100%;
            background: var(--bg-color);
            border-radius: 10px;
            text-decoration: none;
            color: var(--text-color);
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s;
            &:hover {
                background: #222;
            }
        }
    }
}