---
---
:root {
    --bg-color: #131313;
    --overlay-color: #262626;
    --text-color: #fff;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

body {
    padding: 0;
    margin: 0;
}

main {
    min-height: 120vh;
    width: calc(100vw-140px);
    max-width: 1100px;
    margin: 50px auto;
    margin-bottom: 50px;
    padding: 0 70px;
    text-align: center;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 500;
    width: 45px;
    height: 50px;
    transition: all 0.2s;
    svg {
        transform: rotate(90deg);
        width: 50px;
        height: 50px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-size: 80px;

    color: var(--text-color);
    margin: 0 0 30px 0;
}

p {
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 20px 0;
}

.showcase {
    display: grid;
    grid-gap: 10px;
    aspect-ratio: 2;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}