---
---
.t {
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    color: var(--highlight);
    @media (max-width: 700px) {
        font-size: 24px;
    }
}

.ref {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 20px;
    p {
        color: var(--text);
    }
    svg path {
        fill: var(--text);
    }
    &:hover,
    &:focus {
        p {
            color: var(--highlight);
        }
        svg path {
            fill: var(--highlight);
        }
    }
    @media (max-width: 700px) {
        p {
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 1px;
        }
    }
}

hr {
    margin: 0 auto;
    width: 100%;
    background-color: var(--text);
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    p {
        margin-bottom: 20px;
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        display: inline-block;
    }
    img {
        max-width: 100%;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
    }
    cap {
        display: block;
        color: var(--dark);
        font-size: 16px;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 40px;
    }
    ic {
        background-color: black;
        border: 1px solid var(--dark);
        border-radius: 4px;
        padding: 0 4px;
        font-family: 'Roboto Mono', monospace;
    }
    @media (max-width: 700px) {
        .caption {
            font-size: 12px;
        }
        p {
            line-height: 20px;
        }
    }
}