---
---
:root {
    // site colors
    --bg: #111;
    --text: #ccc;
    --dark: #777;
    --hl: #fbb443;

    --mobile-width: 732px;

    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    font-weight: 300;
    
    font-size: 20px;
    @media (max-width: 700px) {
        font-size: 16px;
    }
}

.bold,
b {
    font-weight: 600;
}

p {
    // background-color: #333;
    margin: 0;
    text-align: left;
}

p a {
    text-decoration: none;
    color: var(--hl);
    &:hover,
    &:focus {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;
    }
}

body {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg);
}

main {
    // background-color: #222;
    width: calc(100vw - 90px);
    height: auto;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}