---
---
.scene {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 40px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    .navlink {
        height: 40px;
        margin: 0 40px;
        text-decoration: none;
        color: var(--hl);
        font-family: 'Patrick Hand', cursive;
        font-size: 26px;
        letter-spacing: 1px;
        &:hover,
        &:focus {
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-thickness: 1px;
        }
    }
    .navlink.active {
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;
    }
}