---
---
.showcase {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    justify-content: center;
    margin-bottom: 60px;
    @media (max-width: 916px) {grid-template-columns: repeat(4, 1fr);}
    @media (max-width: 732px) {grid-template-columns: repeat(3, 1fr);}
    @media (max-width: 548px) {grid-template-columns: repeat(2, 1fr);}
}

.card {
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    transition: filter 0.1s ease;
    position: relative;
    .overlay {
        opacity: 0;
        background-color: var(--bg);
        color: var(--text);
        transition: opacity 0.1s ease;
        
        width: fit-content;
        max-width: 86%;
        height: fit-content;

        position: absolute;
        bottom: 4px;
        left: 4px;

        border-width: 4px 8px;
        border-color: var(--bg);
        border-style: solid;
        border-radius: 4px;
    }
    &:hover,
    &:focus {
        filter: brightness(1);
        .overlay {
            opacity: 1;
        }
    }
    @media (max-width: 700px) {
        filter: brightness(1);
        .overlay {
            opacity: 1;
        }
    }
}