---
layout: default
title: {{ page.title }}
---

link(rel="stylesheet" href="/assets/css/project.css")

section
  h1 {{ page.title }}
  | {% if page.source %}
  | {% assign source = page.source | remove_first: "http://" | remove_first: "https://" %}
  div #[strong Source:] #[a(href="{{ page.source }}" target="_blank") {{ source }}]
  | {% endif %}
  | {% if page.timeframe %}
  div #[strong Timeframe:] {{ page.timeframe }}
  | {% endif %}

hr

section#project-content
  | {{ content }}
