<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/assets/css/project-page.css">

    <meta property="og:image" content="/assets/img/{{ page.image }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="project">
    <meta property="og:site_name" content="Felix Leitner">
    <meta property="theme-color" content="#F1C40F">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="top">
      {% assign lang = page.url | slice: 1,2 %}
      
      <div class="back-arrow">
        <a href="/{{ lang }}/projects"><img src="/assets/icons/back.svg" alt="back_arrow"></a>
      </div>
  
      <!-- Set url of sister page -->
      {% if lang == "en" %}
      {% assign sister_url = page.url | replace_first: "en", "de" %}
      {% else %}
      {% assign sister_url = page.url | replace_first: "de", "en" %}
      {% endif %}
  
      <!-- Button to change language -->
      <a href="{{ sister_url | replace: '.html', '' }}" class="lang-switch">en/de</a>
    </header>
    
    <main>
      <p class="title">Success!</p>
      <p class="timeframe">{{ page.timeframe }}</p>
      
      {% if page.link %}
      <div class="reference">
        <svg viewBox="0 0 25 25"><path d="M3.9,12C3.9,10.29 5.29,8.9 7,8.9H11V7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H11V15.1H7C5.29,15.1 3.9,13.71 3.9,12M8,13H16V11H8V13M17,7H13V8.9H17C18.71,8.9 20.1,10.29 20.1,12C20.1,13.71 18.71,15.1 17,15.1H13V17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7Z"></path></svg>
        <a href="{{ page.link }}" target="_blank" rel="noopener noreferrer">{{ page.link | remove_first: "http://" | remove_first: "https://" | replace: "/", " / " }}</a>
      </div>
      {% endif %}

      {% if page.source %}
      <div class="reference">
        <svg viewBox="0 0 25 25"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
        <a href="{{ page.source }}" target="_blank" rel="noopener noreferrer">{{ page.source | remove_first: "http://" | remove_first: "https://" | replace: "/", " / " }}</a>
      </div>
      {% endif %}

      <p class="tools"><span>Made with: </span>{{ page.tools }}</p>

      <img src="/assets/img/{{ page.image }}" class="demo-img" alt="project image">

      <div class="content">
        {{ content }}
      </div>
    </main>
  </body>
</html>