header
  .cont.banner.padx.flx.ac
    .mra
      a(href="/")
        img(src="/assets/img/logo.png" style="height: 2.5rem")
    nav.flx.gap
      a(href="/#skills") Skills
      a(href="/#projects") Projects
      a(href="/#contact") Contact
      p |
      a(href="/resume.pdf") Résumé
